.body {
	margin: 10vh auto;
	max-width: 550px;
	border-radius: 30px;
	border: solid 1px rgb(217, 219, 218);

	.content {
		box-sizing: border-box;
		width: 100%;
		padding: 10px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.button {
			width: 100%;
			padding: 10px;
			margin: 20px 0;
			border-radius: 5px;
			border: #007aff 1px solid;
			background-color: white;

			&:hover {
				color: #ffffff;
				background-color: #007aff;
				cursor: pointer;
			}

			&:active {
				background-color: #4ba2ff;
			}
		}
	}
}
